<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content > 
  <br/>
  <ion-title>Profile</ion-title>
  <br/>
  <ion-item>
    <ion-label>name:</ion-label>
    <ion-label id="user-name"></ion-label>
  </ion-item>
  <ion-item>
    <ion-label>name:</ion-label>
    <ion-label id="user-last-name"></ion-label>
  </ion-item>
  <ion-item>
    <ion-label>username:</ion-label>
    <ion-label id="user-username"></ion-label>
  </ion-item>
  <ion-item>
    <ion-label>email:</ion-label>
    <ion-label id="user-email"></ion-label>
  </ion-item>
</ion-content>
