<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>Create Product</h1>
<form [formGroup]="productForm" (ngSubmit)="onFormSubmitCreateUpdate()">
   
  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input formControlName="name" type="text" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-input formControlName="description" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Price</ion-label>
    <ion-input formControlName="price" type="number" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Tax_rate</ion-label>
    <ion-input formControlName="tax_rate" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Img</ion-label>
    <ion-input formControlName="img" type="HTMLInputElement"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Category</ion-label>
    <ion-input formControlName="category" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Quantity</ion-label>
    <ion-input formControlName="quantity" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Available</ion-label>
    <ion-checkbox checked slot="start"></ion-checkbox>
  </ion-item>
  
  <ion-row>
    <ion-col>
      <ion-button type="submit"  shape="full" expand="block">Create</ion-button>
    </ion-col>
  </ion-row>
</form>
</ion-content>
