<ion-app>
  <ion-router-outlet></ion-router-outlet>
  
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" id="ion-menu-custom">
      <ion-content >
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" >
          <br/>
          <br/>
          <br/>
          <ion-title>E-commerce</ion-title>
            <ion-item>
              <ion-toggle (ionChange)='darkTheme($event)' slot='end'></ion-toggle>
              <ion-label>Dark Theme</ion-label>
            
            </ion-item>
            <ion-item>
              <ion-router-link href="https://twitter.com/" target="_blank" slot="end"><ion-icon name="logo-twitter" size="large" ></ion-icon></ion-router-link>
              <ion-label>Twitter</ion-label>
            </ion-item>
            <ion-item>
              <ion-router-link href="https://www.facebook.com/" target="_blank" slot="end"><ion-icon name="logo-facebook" size="large"></ion-icon></ion-router-link>
              <ion-label>Facebook</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>

  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0768A9">
    <a class="navbar-brand" href="#">E-Commerce</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" id="sign-in">
          <a class="nav-link" (click)="presentModal()">Sign In</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            UserName
          </a>
          <div class="dropdown-menu" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="/profile">Profile</a>
            <a class="dropdown-item"  href="/home" (click)="signOut()">Sign Out</a>
          </div>
        </li>
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <!-- <ion-footer id="footer-custom" class="global-footer has-global-footer" >
    <ion-toolbar>
      <ion-title>E-commerce</ion-title>
      <ion-item>
        <ion-toggle slot="start" (ionChange)='darkTheme($event)'></ion-toggle>
        <ion-label>Dark Theme</ion-label>
        <ion-router-link href="https://twitter.com/" target="_blank" slot="end"><ion-icon name="logo-twitter" size="large" ></ion-icon></ion-router-link>
        <ion-router-link href="https://www.facebook.com/" target="_blank" slot="end"><ion-icon name="logo-facebook" size="large"></ion-icon></ion-router-link>
        
      </ion-item>
    </ion-toolbar>
  </ion-footer> -->
</ion-app>
