<ion-header [translucent]="true">
  
  <ion-toolbar>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let p of product" >
    <ion-card-header>
      <img class="image" src="./assets/img/clipper.jpg">
      <ion-card-subtitle>{{p.category}}</ion-card-subtitle>
      <ion-card-title>{{p.name}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content (click)="viewProduct(p.id)">
     Precio: {{p.price}}€<br />
     Descripción: <br />{{p.description}}
    </ion-card-content>
    <ion-item id="ud-product">
      <ion-icon (click)="deleteProduct(p.id)" name="trash" slot="end" ></ion-icon>
      <ion-icon (click)="updateProduct(p.id)" name="create-outline" slot="end" ></ion-icon>
    </ion-item>
  </ion-card>
  <ion-button (click)="createProduct()"  expand="block" id="add-product">ADD PRODUCT</ion-button>
  
</ion-content>
