#s-b92eb704-6840-4feb-b512-57bdc5f3dcba > #backgroundBox {
  position: absolute;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba > #alignmentBox {
  position: relative;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_1 {
  position: absolute;
  width: 1279.9999999999993px;
  min-height: 168.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}
_:-ms-fullscreen, :root #s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_1 {
  box-shadow: none;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFCC00;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_1 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_1 {
  position: absolute;
  width: 156.2499999999999px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_1 {
  box-shadow: none;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_2 {
  position: absolute;
  width: 138.7499999999999px;
  min-height: 92.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}
_:-ms-fullscreen, :root #s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_2 {
  box-shadow: none;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 22px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Image_1 {
  position: absolute;
  width: 30.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Image_1 {
  box-shadow: none;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Image_2 {
  position: absolute;
  width: 30.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Image_2 {
  box-shadow: none;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Image_3 {
  position: absolute;
  width: 29.99999999999966px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Image_3 {
  box-shadow: none;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_3 {
  position: absolute;
  width: 156.24999999999983px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_3 {
  box-shadow: none;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_4 {
  position: absolute;
  width: 156.24999999999977px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_4 {
  box-shadow: none;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Image_4 {
  position: absolute;
  width: 227.49999999999994px;
  height: 70.18617021276597px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Image_4 {
  box-shadow: none;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_5 {
  position: absolute;
  width: 138.75000000000017px;
  min-height: 92.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}
_:-ms-fullscreen, :root #s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_5 {
  box-shadow: none;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 22px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_6 {
  box-shadow: none;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_6 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_2 {
  position: absolute;
  width: 1280.0px;
  min-height: 69.99999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_2 {
  box-shadow: none;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #0768A9;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_2 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Image_5 {
  position: absolute;
  width: 179.00000000000006px;
  height: 55.223404255319096px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Image_5 {
  box-shadow: none;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_7 {
  position: absolute;
  width: 124.99999999999994px;
  min-height: 69.99999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_7 {
  box-shadow: none;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_7 span {
  color: #DDDDDD;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #DDDDDD;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Image_6 {
  position: absolute;
  width: 19.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Image_6 {
  box-shadow: none;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Image_7 {
  position: absolute;
  width: 24.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Image_7 {
  box-shadow: none;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Image_8 {
  position: absolute;
  width: 38.0px;
  height: 30.99999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Image_8 {
  box-shadow: none;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_8 {
  position: absolute;
  width: 262.0000000000001px;
  min-height: 90.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_8 {
  box-shadow: none;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 35.0pt;
  line-height: 67px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 35.0pt;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_3 {
  position: absolute;
  width: 93.0px;
  min-height: 39.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}
_:-ms-fullscreen, :root #s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_3 {
  box-shadow: none;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_3 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #CCCCCC;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_3 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_3 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_3 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_4 {
  position: absolute;
  width: 279.0px;
  min-height: 39.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}
_:-ms-fullscreen, :root #s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_4 {
  box-shadow: none;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_4 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_4 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_4 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_4 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_5 {
  position: absolute;
  width: 93.0px;
  min-height: 39.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}
_:-ms-fullscreen, :root #s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_5 {
  box-shadow: none;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_5 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #CCCCCC;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_5 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_5 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_5 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_6 {
  position: absolute;
  width: 279.0px;
  min-height: 39.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}
_:-ms-fullscreen, :root #s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_6 {
  box-shadow: none;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_6 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_6 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_6 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_6 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_7 {
  position: absolute;
  width: 93.0px;
  min-height: 39.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}
_:-ms-fullscreen, :root #s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_7 {
  box-shadow: none;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_7 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #CCCCCC;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_7 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_7 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_7 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_8 {
  position: absolute;
  width: 279.0px;
  min-height: 39.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}
_:-ms-fullscreen, :root #s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_8 {
  box-shadow: none;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_8 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_8 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_8 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_8 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_9 {
  position: absolute;
  width: 160.0px;
  min-height: 43.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_9 {
  box-shadow: none;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_9 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #0768A9;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_9 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B2B2B2;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B2B2B2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #B2B2B2;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B2B2B2;
  border-radius: 2px 2px 2px 2px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_9 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_10 {
  position: absolute;
  width: 93.0px;
  min-height: 39.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}
_:-ms-fullscreen, :root #s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_10 {
  box-shadow: none;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_10 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_10 > .backgroundLayer > .colorLayer {
  background-color: #CCCCCC;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_10 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_10 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_10 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_11 {
  position: absolute;
  width: 279.0px;
  min-height: 39.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}
_:-ms-fullscreen, :root #s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_11 {
  box-shadow: none;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_11 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_11 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_11 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_11 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_11 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_12 {
  position: absolute;
  width: 254.0px;
  min-height: 148.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}
_:-ms-fullscreen, :root #s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_12 {
  box-shadow: none;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_12 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_12 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_12 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 2px 2px 2px 2px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_12 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_12 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b92eb704-6840-4feb-b512-57bdc5f3dcba > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}