#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 > #backgroundBox {
  position: absolute;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 > #alignmentBox {
  position: relative;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Rectangle_1 {
  position: absolute;
  width: 1257.5825649642304px;
  min-height: 144.00002959264725px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Rectangle_1 {
  box-shadow: none;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Rectangle_2 {
  position: absolute;
  width: 1254.5888455440167px;
  min-height: 147.00000986421594px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Rectangle_2 {
  box-shadow: none;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Rectangle_3 {
  position: absolute;
  width: 1254.5888455440165px;
  min-height: 151.00000986421563px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Rectangle_3 {
  box-shadow: none;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Rectangle_4 {
  position: absolute;
  width: 1280.0px;
  min-height: 69.99999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Rectangle_4 {
  box-shadow: none;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #0768A9;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Rectangle_4 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Image_1 {
  position: absolute;
  width: 179.00000000000006px;
  height: 55.223404255319096px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Image_1 {
  box-shadow: none;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_1 {
  position: absolute;
  width: 124.99999999999994px;
  min-height: 69.99999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_1 {
  box-shadow: none;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_1 span {
  color: #DDDDDD;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #DDDDDD;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Image_2 {
  position: absolute;
  width: 19.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Image_2 {
  box-shadow: none;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Image_3 {
  position: absolute;
  width: 117.99999999999997px;
  height: 94.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Image_3 {
  box-shadow: none;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Image_4 {
  position: absolute;
  width: 117.99999999999997px;
  height: 94.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Image_4 {
  box-shadow: none;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Image_5 {
  position: absolute;
  width: 117.99999999999997px;
  height: 94.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Image_5 {
  box-shadow: none;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_2 {
  position: absolute;
  width: 99.0px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_2 {
  box-shadow: none;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
  line-height: 16px;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_3 {
  position: absolute;
  width: 78.99999999999989px;
  min-height: 68.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_3 {
  box-shadow: none;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 18.0pt;
  line-height: 34px;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 18.0pt;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_4 {
  position: absolute;
  width: 79.00000000000034px;
  min-height: 68.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_4 {
  box-shadow: none;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 18.0pt;
  line-height: 34px;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 18.0pt;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_5 {
  position: absolute;
  width: 79.0px;
  min-height: 67.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_5 {
  box-shadow: none;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 18.0pt;
  line-height: 34px;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 18.0pt;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_6 {
  position: absolute;
  width: 99.0px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_6 {
  box-shadow: none;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
  line-height: 16px;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_7 {
  position: absolute;
  width: 99.0px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_7 {
  box-shadow: none;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
  line-height: 16px;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_8 {
  position: absolute;
  width: 751.0px;
  min-height: 168.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_8 {
  box-shadow: none;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  line-height: 24px;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_9 {
  position: absolute;
  width: 751.0px;
  min-height: 168.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_9 {
  box-shadow: none;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  line-height: 24px;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_10 {
  position: absolute;
  width: 751.0px;
  min-height: 168.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_10 {
  box-shadow: none;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  line-height: 24px;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}
_:-ms-fullscreen, :root #s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_11 {
  box-shadow: none;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_11 span {
  color: #CBCBCB;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #CBCBCB;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_11 span#rtr-s-Paragraph_11_1 {
  color: #282828;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_11 span#rtr-s-Paragraph_11_2 {
  color: #CBCBCB;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Image_6 {
  position: absolute;
  width: 6.0px;
  height: 11.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Image_6 {
  box-shadow: none;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Image_7 {
  position: absolute;
  width: 6.0px;
  height: 11.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Image_7 {
  box-shadow: none;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Rectangle_5 {
  position: absolute;
  width: 1279.9999999999993px;
  min-height: 168.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}
_:-ms-fullscreen, :root #s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Rectangle_5 {
  box-shadow: none;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFCC00;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Rectangle_5 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_12 {
  position: absolute;
  width: 156.2499999999999px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_12 {
  box-shadow: none;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_13 {
  position: absolute;
  width: 138.7499999999999px;
  min-height: 92.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}
_:-ms-fullscreen, :root #s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_13 {
  box-shadow: none;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_13 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 22px;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Image_8 {
  position: absolute;
  width: 30.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Image_8 {
  box-shadow: none;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Image_9 {
  position: absolute;
  width: 30.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Image_9 {
  box-shadow: none;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Image_10 {
  position: absolute;
  width: 29.99999999999966px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Image_10 {
  box-shadow: none;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_14 {
  position: absolute;
  width: 156.24999999999983px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_14 {
  box-shadow: none;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_14 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_14 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_15 {
  position: absolute;
  width: 156.24999999999977px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular',Arial;
}
_:-ms-fullscreen, :root #s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_15 {
  box-shadow: none;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_15 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_15 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Image_11 {
  position: absolute;
  width: 227.49999999999994px;
  height: 70.18617021276597px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Image_11 {
  box-shadow: none;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_16 {
  position: absolute;
  width: 138.75000000000017px;
  min-height: 92.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}
_:-ms-fullscreen, :root #s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_16 {
  box-shadow: none;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_16 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_16 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 22px;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #shapewrapper-s-Line_1 marker {
  fill: #000000;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #shapewrapper-s-Line_1 {
  position: absolute;
  width: 1273.5825649642306px;
  height: 2.0px;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Line_1 {
  width: 1273.5825649642306px;
  height: 2.0px;
  stroke-width: 2px;
  stroke: #000000;
}
_:-ms-fullscreen, :root #s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Line_1 {
  box-shadow: none;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #shapewrapper-s-Line_2 marker {
  fill: #000000;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #shapewrapper-s-Line_2 {
  position: absolute;
  width: 1273.5888455595073px;
  height: 2.0px;
  filter: none;
  -webkit-transform: rotate(0.179950928148773deg);
  -moz-transform: rotate(0.179950928148773deg);
  transform: rotate(0.179950928148773deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Line_2 {
  width: 1273.5888455595073px;
  height: 2.0px;
  stroke-width: 2px;
  stroke: #000000;
}
_:-ms-fullscreen, :root #s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Line_2 {
  box-shadow: none;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #shapewrapper-s-Line_3 marker {
  fill: #000000;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #shapewrapper-s-Line_3 {
  position: absolute;
  width: 1273.5888455595073px;
  height: 2.0px;
  filter: none;
  -webkit-transform: rotate(0.179950928148773deg);
  -moz-transform: rotate(0.179950928148773deg);
  transform: rotate(0.179950928148773deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Line_3 {
  width: 1273.5888455595073px;
  height: 2.0px;
  stroke-width: 2px;
  stroke: #000000;
}
_:-ms-fullscreen, :root #s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Line_3 {
  box-shadow: none;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #shapewrapper-s-Line_4 marker {
  fill: #000000;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #shapewrapper-s-Line_4 {
  position: absolute;
  width: 1273.5888455595073px;
  height: 2.0px;
  filter: none;
  -webkit-transform: rotate(0.179950928148773deg);
  -moz-transform: rotate(0.179950928148773deg);
  transform: rotate(0.179950928148773deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Line_4 {
  width: 1273.5888455595073px;
  height: 2.0px;
  stroke-width: 2px;
  stroke: #000000;
}
_:-ms-fullscreen, :root #s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Line_4 {
  box-shadow: none;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Image_12 {
  position: absolute;
  width: 24.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Image_12 {
  box-shadow: none;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Image_13 {
  position: absolute;
  width: 38.0px;
  height: 30.99999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 #s-Image_13 {
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e162bb4d-7f4f-4d87-b699-39f1af4d8c83 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}