<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>
<h1>UPDATE</h1>
  <form [formGroup]="UpdateForm" (ngSubmit)="validateUpdateForm()">
   
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="name" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input formControlName="lastName" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">UserName</ion-label>
      <ion-input formControlName="username" type="text" required></ion-input>
      <span class="errors-message" id="username-match">This username already exists</span>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email" required></ion-input>
      <span class="errors-message" id="email-match">This email already exists</span>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirm email</ion-label>
      <ion-input formControlName="confirmEmail" type="email" required></ion-input>
      <span class="errors-message" id="email-confirm-match">Emails do not match</span>
    </ion-item>
    <ion-item>
      <ion-label position="floating">password</ion-label>
      <ion-input formControlName="password" type="password" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirm password</ion-label>
      <ion-input formControlName="confirmPassword" type="password" required></ion-input>
      <span class="errors-message" id="password-confirm-match">Passwords do not match</span>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit"  shape="full" expand="block">Update</ion-button>
      </ion-col>
    </ion-row>
  </form>
<ion-content>

</ion-content>
